
.story-cards-container {
  transition: filter 0.3s ease;
}

.story-cards-container.blur {
  filter: blur(5px);
}
.story-cards-container {
    padding: 40px;
  }
  
  .category-section {
    margin-bottom: 40px;
  }
  
  .category-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .category-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    cursor: pointer;
  }
  
  .story-card {
    width: 260px;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: start;
    width: 100%;
    min-height:100px;
    max-height: auto;
  }
  
  .see-more-button {
    display: block;
    margin: 20px auto;
    background-color: #FF7373;
  }
  .edit-button {
    left: 50%;
    bottom: -15px;
 position: absolute;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: white;
    border: none;
    color: black;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .edit-button:hover {
    background-color: #FF5050;
    color: white;
  }
  
  .edit-icon {
    margin-right: 5px;
    font-size: 16px;
  }
  .your-story-edit-cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }
  @media (max-width: 768px) {
    .category-cards {
        justify-content: center;
    }
  }

  